*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}
body{
    background-color: rgb(48, 53, 53);
}

div.container{
    display: flex;
    flex-direction: column;
    
}

div.form{
    padding-bottom: 20px;
    width: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 2px  ;
}
div.password{
    padding-top: 20px;
    width: 20px;
}